{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'cadastro.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'transitions.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css">
</head>
<body>
<header class="navbar">
  <div class="nav-logo">
    <img src="{% static 'iconreview.png' %}">
  </div>
  <div class="nav-links">
    <a href="{% url 'login' %}" class="nav-item login">
      <i class="fi fi-rr-user"></i>
      <span>Login</span>
    </a>
    <a href="{% url 'cadastro' %}" class="nav-item cadastro">
      <i class="fi fi-rr-user-add"></i>
      <span>Cadastro</span>
    </a>
    <a href="/admin/" class="nav-item outro">
      <i class="fi fi-rr-lock"></i>
      <span>Admin</span>
    </a>
  </div>
</header>

<main class="container-vertical">
  <section class="top-side">
    <div class="layer layer1"></div>
    <div class="layer layer2"></div>
    <div class="layer layer3"></div>

    <div class="top-content">
  <div class="top-left">
    <img src="{% static 'reviewescuro.png' %}">
    <p>- UM NOVO OLHAR SOBRE O CINEMA -</p>
  </div>
      <div class="top-right">
    <h1>CADASTRO</h1>
  </div>
    </div>
  </section>

  <section class="bottom-side">
    <form method="post">
      {% csrf_token %}

      <p>
        <label for="id_username">Usuário:</label>
        {{ form.username }}
      </p>
      <p>
        <label for="id_email">Email:</label>
        {{ form.email }}
      </p>
      <p>
        <label for="id_first_name">Nome:</label>
        {{ form.first_name }}
      </p>
      <p>
        <label for="id_last_name">Sobrenome:</label>
        {{ form.last_name }}
      </p>
      <p>
        <label for="id_password1">Senha:</label>
        <i class="fi fi-rr-eye toggle-password"></i>
        {{ form.password1 }}
      </p>
      <p>
        <label for="id_password2">Repetir Senha:</label>
        <i class="fi fi-rr-eye toggle-password"></i>
        {{ form.password2 }}
      </p>

      <button type="submit">Cadastrar</button>
    </form>
  </section>
</main>
<script src="{% static 'transitions.js' %}"></script>
</body>
</html>
