{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'transitions.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons/css/all/all.css">
</head>
<body>
<header class="navbar">
  <div class="nav-logo">
    <img src="{% static 'iconreview.png' %}">
  </div>
  <div class="nav-links">
    <a href="{% url 'login' %}" class="nav-item login">
      <i class="fi fi-rr-user"></i>
      <span>Login</span>
    </a>
    <a href="{% url 'cadastro' %}" class="nav-item cadastro">
      <i class="fi fi-rr-user-add"></i>
      <span>Cadastro</span>
    </a>
    <a href="/admin/" class="nav-item outro">
      <i class="fi fi-rr-lock"></i>
      <span>Admin</span>
    </a>
  </div>
</header>

<main class="container-vertical">
  <section class="top-side">
    <div class="layer layer1"></div>
    <div class="layer layer2"></div>
    <div class="layer layer3"></div>

    <div class="top-content">
  <div class="top-left">
    <img src="{% static 'reviewescuro.png' %}">
    <p>- UM NOVO OLHAR SOBRE O CINEMA -</p>
  </div>
    </div>
  </section>

  <section class="center-content">
    {% if user.is_authenticated %}
      <h1 class="fade-text">Bem-vindo, {{ user.username }}</h1>
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-sair">Sair</button>
      </form>
    {% else %}
      <h1 class="fade-text">Você não está logado</h1>
      <div class="home-links">
        <a href="{% url 'login' %}" class="btn-login">Login</a>
        <a href="{% url 'cadastro' %}" class="btn-cadastro">Cadastro</a>
      </div>
    {% endif %}
  </section>
</main>
<script src="{% static 'transitions.js' %}"></script>
</body>
</html>
